.post {
    background: #fff;
    border: 1px solid #e6e6e6;
    margin: 4rem 0;
}
.post:first-child {
    margin-top: 1rem;
}

.posts-container {
    grid-column: 3 / -3;
}

.post-header {
    align-items: center;
    display: flex;
    padding: 1rem 0;
}

.posts-page {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) repeat(6, minmax(1rem, 10rem)) minmax(1rem, 1fr);
}

.thumbnail {
    border-radius: 50%;
    margin-left: 1rem;
    width: 2rem;
}

.username {
    font-weight: bold;
    padding: 0 1rem;
}