.comment {
    display: flex;
    font-size: 0.9rem;
    padding: 0.3rem 0;
}

.comment-section {
    padding: 1rem;
}

.comment > .username {
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 0 0.5rem 0 0;
    text-decoration: none;
}

.comment > .username:hover {
    text-decoration: underline;
}

.like-count {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1rem 0 0.75rem;
}

.timestamp {
    color: #999;
    font-size: 0.75rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
}